{% extends "base.html" %}

{% block content %}

    <section class="m-24">
      <style>
        .zoom:hover img {
          transform: scale(1.1);
        }
      </style>
      <h2 class="mb-12 text-center text-3xl font-bold">Todos los eventos</h2>

      <div class="grid gap-6 lg:grid-cols-3">
        {% for evento in eventos %}
            <div
            class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init
            data-te-ripple-color="light">
            {% if evento.img %}
            <img
                src="{{evento.img.url}}"
                class="w-full align-middle transition duration-300 ease-linear" />

                {% endif %}
            <a href="">
                <div
                class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.4)] bg-fixed">
                <div class="flex h-full items-end justify-start">
                    <div class="m-6 text-white">
                    <h5 class="mb-3 text-lg font-bold">{{evento.titulo}}</h5>
                    <p>
                        es el {{evento.fecha_evento}}
                    </p>
                    <p>creado por {{evento.fecha_carga}} el {{evento.usuario}}</p>
                    <p>
                        {{evento.desc}}
                    </p>
                    </div>
                </div>
                </div>
                <div
                class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed transition duration-300 ease-in-out hover:bg-[hsla(0,0%,99%,0.15)]"></div>
            </a>
            </div>
        {% endfor %}
      </div>
    </section>
    <!-- Section: Design Block -->
{% endblock %}