{% extends "base.html" %}
<!--{% load static %}-->

{% block content %}
<ul>
    {% for evento in eventos %}
    <l1>
        <l1><h1>{{evento.titulo}}</h1></li>

        {% if evento.img %}
            <l1><img src="{{evento.img.url}}" height="64" width="64"></img></li>
        {% endif %}
        
        {% if evento.dias_restantes > 0 %}
            <p><l1>Faltan {{evento.dias_restantes}} días.</l1></p>
        {% elif evento.dias_restantes == 0 %}
            <p>Es hoy.</p>
        {% else %}
            <p>Ya paso.</p>
        {% endif %}

        <p>descripcion: <l1>{{evento.desc}}</li></p>
        <p>ubicacion: <l1>{{evento.ubicacion}}</li></p>
        <p>creado por: <l1>{{evento.usuario}}</li></p>

        
    </l1>
    {% endfor %}    
</ul>
{% endblock %}