{% extends "base.html" %}
<!--{% load static %}-->

{% block content %}

<h1>Eventos aeroclub</h1>

{% for evento in eventos %}
    <div>
        <h1>{{evento.titulo}}</h1>
        {% if evento.img %}
            <img src="{{evento.img.url}}" height="108" weight="135"></img>
        {% endif %}
        <p>Descripción del evento: {{evento.desc}}</p>
        <p>Ubicación: {{evento.ubicacion}}</p>
        <p>Creado por: {{evento.usuario}}</p>
        <div>
            {% if evento.dias_restantes > 0 %}
                <span>{{evento.dias_restantes}}</span> días.
            {% elif evento.dias_restantes == 0 %}
                <span>Es hoy.</span>
            {% else %}
                <span>Ya paso.</span>
            {% endif %}
        </div>
    </div>
{% endfor %} 

<h1>Noticias aeroclub</h1>
{% for noticia in noticias %}
    <div>
        <h1>{{noticia.titulo}}</h1>
        {% if noticia.img %}
            <img src="{{noticia.img.url}}" height="108" weight="108"></img>
        {% endif %}
        <p>Descripción del evento: {{noticia.desc}}</p>
        <p>Fecha de subida: {{noticia.fecha_carga}}</p>
        <p>Creado por: {{noticia.usuario}}</p>
    </div>
{% endfor %} 

{% endblock %}